@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}
header {
  position: sticky;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 23px 0px;
  background-color: white;
}
.navbar img {
  cursor: pointer;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 2px 20px;
  font-size: 15px;
  font-weight: 400;
}
.navbar ul li a:hover {
  color: crimson;
  font-weight: 400;
}
.input-icon input {
  padding: 8px 35px 8px 4px;
  border: 1px solid rgb(189 179 179 / 23%);
  border-radius: 20px;
  background-color: rgb(189 179 179 / 23%);
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}
.input-icon button {
  margin: -30px;
  border: none;
  cursor: pointer;
}
.btn1 button {
  padding: 20px 20px;
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
.btn1 button::before {
  background-color: rgb(40, 196, 243);
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 35px;
  transition: all 0.2s ease-in-out;
}
.btn1 button:hover {
  color: rgb(255, 255, 255);
}
.btn1 button:hover::before {
  color: white;
  width: 100%;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(200, 255, 255);
  height: 100vh;
  width: 100vw;
}
.main .main-img img {
  display: block;
  height: 100vh;
}
img {
  vertical-align: middle;
}
.content {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -30px;
}
.content span {
  font-family: "Yellowtail", cursive;
  color: #2577fd;
  font-size: 40px;
  font-weight: 400;
  display: block;
  width: 40%;
}
.content h1 {
  font-family: "Playfair", serif;
  color: #1f2022;
  font-size: 120px;
  font-weight: 900;
  display: block;
  width: 50%;
}
.content p {
  font-family: "Yellowtail", cursive;
  font-size: 30px;
  margin-left: -30px;
  color: #1f2022;
}
.btn2 button {
  margin-top: 25px;
  margin-left: -40px;
  padding: 10px 30px;
}
.container{
 margin-top: 200px;
}
.heading h1{
    font-family: "Playfair", serif;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}
.collection-image{
  position: relative;
  width: 33%;
  height: 280px;
}
.collection-image img{
height: 100%;
width: 100%;
object-fit: cover;
}
.text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 20px;
}
.main-collection{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 40px 80px;
}
