@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 23px 0px;
  background-color: white;
}
.navbar img {
  cursor: pointer;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 2px 20px;
  font-size: 15px;
  font-weight: 400;
}
.navbar ul li a:hover {
  color: crimson;
  font-weight: 400;
}
.input-icon input {
  padding: 8px 35px 8px 4px;
  border: 1px solid rgb(189 179 179 / 23%);
  border-radius: 20px;
  background-color: rgb(189 179 179 / 23%);
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}
.input-icon button {
  margin: -30px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.btn1 button {
  padding: 20px 20px;
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
.btn1 button::before {
  background-color: rgb(40, 196, 243);
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 35px;
  transition: all 0.2s ease-in-out;
}
.btn1 button:hover {
  color: rgb(255, 255, 255);
}
.btn1 button:hover::before {
  color: white;
  width: 100%;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(200, 255, 255);
  height: 100vh;
  width: 100vw;
}
.main .main-img img {
  display: block;
  height: 100vh;
}
img {
  vertical-align: middle;
}
.content {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -30px;
}
.content span {
  font-family: "Yellowtail", cursive;
  color: #2577fd;
  font-size: 40px;
  font-weight: 400;
  display: block;
  width: 40%;
}
.content h1 {
  font-family: "Playfair", serif;
  color: #1f2022;
  font-size: 120px;
  font-weight: 900;
  display: block;
  width: 50%;
}
.content p {
  font-family: "Yellowtail", cursive;
  font-size: 30px;
  margin-left: -30px;
  color: #1f2022;
}
.btn2 button {
  margin-top: 25px;
  margin-left: -40px;
  padding: 10px 30px;
}
.container {
  margin-top: 200px;
}
.heading h1 {
  font-family: "Playfair", serif;
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
}
.collection-image {
  position: relative;
  width: 33%;
  height: 280px;
}
.collection-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 20px;
}
.text h2 {
  font-family: "Playfair", serif;
  font-size: 30px;
}
.main-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 80px 80px;
  padding-bottom: 300px;
}
.anchor a {
  text-decoration: none;
  color: #1f2022;
  font-family: "Prompt", sans-serif;
  background-color: #ffce25;
  border-radius: 20px;
  font-weight: 600;
  padding: 7px 9px;
}
.text span {
  font-family: "Yellowtail", cursive;
  color: #2577fd;
  font-size: 30px;
  font-weight: 600;
}
.product-collection {
  display: flex;
  text-align: flex-end;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}
.heading2 h1 {
  font-family: "Playfair", serif;
  font-weight: bolder;
  font-size: 60px;
}
.navbar2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar2 ul li {
  padding: 0px 20px;
  margin-bottom: -70px;
}
.navbar2 ul li a {
  text-decoration: none;
  color: black;
}
.navbar2 ul li a:hover {
  color: crimson;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 200px;
  gap: 65px 40px;
}
.box img {
  width: 100%;
}
.stars i {
  margin-bottom: 20px;
}
.stars .fa {
  color: #ffce25;
}
.stars .l {
  color: rgba(194, 183, 183, 0.685);
}
.product-text {
  text-align: center;
}
.product-text h3 {
  font-family: "Playfair", serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.price {
  font-size: 20px;
}
del {
  color: crimson;
}
.fourth {
  background-color: rgb(250, 236, 224);
  height: 80vh;
  margin: auto 40px;
  padding: 40px 100px;
  position: relative;
}
.boy-img img {
  height: 100vh;
  width: auto;
  position: relative;
  top: -26vh;
}
.boy-heading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boy-heading h1 {
  display: block;
  width: 55%;
  font-family: "Playfair", serif;
  font-weight: 900;
  font-size: 75px;
  margin-bottom: 10px;
}
.boy-heading h3{
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #1f2022;
}
.btn3 button {
  padding: 15px 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
.btn3 button::before {
  background-color: rgb(20, 20, 20);
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  border-radius: 35px;
  transition: all 0.2s ease-in-out;
}
.btn3 button:hover {
  color: rgb(255, 255, 255);
}
.btn3 button:hover::before {
  color: white;
  width: 100%;
}